{
  "presets": [["env", { "modules": false }]],
  "plugins": [
    "external-helpers",
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-async-to-generator"
  ]
}
