.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: inline-flex;
  width: 100%;
}

.fit {
  width: 80%;
}

.box {
  border: 1px solid black;
}

.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.right {
  width: 50%;
  margin: auto;
  background: #1d1f21;
  text-align: left;
  overflow: scroll;
}

.middle {
  width: 60%;
  margin: auto;
  background: #1d1f21;
  text-align: left;
  overflow: scroll;
}

.text-box {
  width: 80%;
  margin: auto;
  height: 200px;
  background: #eeeeee;
  text-align: left;
  word-wrap: break-word;
  overflow: auto;
  border: 1px inset #bbbbbb;
}

.full-box {
  width: 100%;
}

.ledger-table {
  border: 1px solid black;
}

.address-td {
  width: 30em;
}

.amount-td {
  width: 17em;
}

.dropdown {
  position: relative;
}

.drop-button {
  background-color: lightblue;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.drop-button:hover {
  background-color: lightslategray;
}

.content {
  display: none;
  background-color: teal;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 50px;
  max-height: 200px;
  overflow: scroll;
}

.content-button {
  width: 55px;
  /* background-color: teal; */
  /* color: whitesmoke; */
  border: none;
  cursor: pointer;
}

.content-button:hover {
  background-color: lightseagreen;
}

.dropped {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
